<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KxfftXBcGy</key>
	<string>Aloha kakahiaka! 人生就是音樂，音樂就是烏克麗麗，那是讓人迫不及待起床的鬧鈴。還有什麼事情比整天彈著烏克麗麗更有意義？</string>
	<key>zXfjzZza1g</key>
	<string>Good Morning. 今天又將是充滿發現的一天。你看這世上的生物都在該醒時醒了過來，從此便能早些覓食、求偶與競爭，如此生存下去。這是造物多麼神妙的安排！</string>
	<key>yFTxU5IowF</key>
	<string>Mōrena! 你等我一下，我先去買完東西送小孩上學煮東西給老婆吃接著就能開始我充滿意義的一天了。</string>
	<key>WdzAbld0OD</key>
	<string>早安。醒來本身即是神妙的，你怎能確信明日的到來？怎能確信萬物皆有常軌？生命本是奇蹟，其本體發源自時間，時間是億萬年前偶發的夢，你剛在夢裡醒來。</string>
	<key>A0dWHfKXvB</key>
	<string>Good Day Mate, 你有看到我們家無尾熊跑哪去了嗎？時間還早，牠應該還在睡，我得趕快。早起是為了找到更多失蹤的動物，這是我的工作。</string>
	<key>kanX2TK012</key>
	<string>おはよう! 每天早起才有最新鮮的魚腹以及最清醒的刀功！今天我要做1000個！我一定要成為日本第一！我是認真的喔！</string>
	<key>FPDYGQiaQG</key>
	<string>早安啊。幸福的人生就是早上起來發現媽媽已經準備好了一切，你只要乖乖出門就好。嗯，但這的確是專屬於小學生的禮遇。</string>
	<key>9wroWWspcS</key>
	<string>A-roon-sa-was。影像的本體要從時間中理解。影像是不連續的，正如時間不一定是線性的。它是可以被任意扭曲的。這技巧取決於你有多瞭解時間的構成。其練習就從固定時間起床開始。</string>
	<key>7BFF1VSW80</key>
	<string>subha udhāsanak! 來杯頂級錫蘭山區紅茶嗎？人世間最幸福的三件事：從容、清醒與茶香。他們都發生在晨光乍現之時。</string>
	<key>o1FVKRgshs</key>
	<string>Suprabhaat, 世間的平衡寓於心靈的平衡。心如磐水才能映照宇宙，不平此即蒙塵。規律作息才能使你的心底為淨土。</string>
	<key>cXRV0G9emV</key>
	<string>Sabah el kheer! 時間就是金錢，金錢還是金錢。阿拉說早晨是賺錢的好時機。唯有早晨賺錢，才能利用一天的時間沈思應如何揮霍。</string>
	<key>6SywS7Imu1</key>
	<string>Manao ahoana ianao! 早起不來杯咖啡？別開玩笑了，沒有人可以抗拒香氣醉人的馬達加斯加咖啡。在咖啡香中開啓的一日之晨，是備受祝福的。</string>
	<key>rlZ7tnVrPl</key>
	<string>Salam! 還賴在床上，浪費多少奪寶時間？</string>
	<key>mj7PcEkCWE</key>
	<string>Bonjour! 世界上最棒的早餐是，奶香濃厚的法國土司。想到那甜美的氣味，真有人能不立刻奔向餐桌嗎？</string>
	<key>pgaUpWacxK</key>
	<string>Good Morning. 睡眠，睡眠，多少罪惡假汝之名？</string>
	<key>j26WD3BJrw</key>
	<string>收銀員章魚哥</string>
	<key>D0EyvSUpYM</key>
	<string>飛碟駕駛員ET</string>
	<key>S315q8Psmq</key>
	<string>足球員Carlos</string>
	<key>OpA0TrFUJ1</key>
	<string>煉金師Agata</string>
	<key>7xqICW0e2l</key>
	<string>專欄作家Carrie</string>
	<key>zmUHMxKJvL</key>
	<string>農場女孩Janny</string>
	<key>gzfQgxL7Yv</key>
	<string>墨西哥樂手Rango</string>
	<key>V03WhAkhZs</key>
	<string>籃球員Brian</string>
</dict>
</plist>
