<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>msg</key>
	<array>
		<string>你有好多種鬧鐘沒發現啊！徽章看板永遠有新玩意。</string>
		<string>我們有科技可以立刻換整套新裝潢。請到徽章看板找找。</string>
		<string>你知道 My Room 點了之後會發生什麼事嗎？</string>
		<string>猜你跟朋友誰早起？用黑色扳手登入臉書看看。</string>
		<string>邀更多人類來玩，你會得到獎賞。去徽章看板完成任務吧。</string>
		<string>你知道我們記錄你睡覺的習慣嗎？到月曆看看。</string>
		<string>拿不到想要的徽章？徽章看板裡有任務你會需要。</string>
		<string>我們有科技能優化你的作息。點那個黑色扳手試試。</string>
		<string>早安～地球人！按下鬧鐘展開規律睡眠實驗。</string>
	</array>
</dict>
</plist>
